.component {
  border: none;

  & .button {
    width: fit-content;
    border: 1px solid blue;
    background-color: rgb(109, 192, 219);
    color: rgb(25, 25, 83);
    font-weight: bold;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    margin: 0.15rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }

  & .button:hover {
    background-color: rgb(25, 25, 83);
    color: rgb(109, 192, 219);
  }

  & .button:active {
    background-color: rgb(25, 25, 83);
    color: rgb(109, 192, 219);
  }

  & .button:disabled {
    background-color: rgb(109, 192, 219);
    color: rgb(25, 25, 83);
    opacity: 0.4;
    cursor: not-allowed;
  }
}
